.appsSection {
  height: 18.5rem;
}

.appsSectionBg {
  background-color: #e2f2fa;
}

.imagePosition {
  position: relative;
  top: 1rem;
}

.qrCode {
  border: 1px solid #3f536c14;
  opacity: 1;
  padding: 0.25rem 0.25rem 0 0.25rem;
  border-radius: 6px;
}

.downloadButton {
  width: 154px;
  height: 40px;
  background: var(--unnamed-color-2a5ab3) 0% 0% no-repeat padding-box;
  background: #2a5ab3 0% 0% no-repeat padding-box;
  border-radius: 60px;
}

@media (min-width: 640px) {
  .appsSection {
    height: 13.75rem;
  }
  .imagePosition {
    position: relative;
    top: -1.3rem;
  }
}
