.button {
 
  border: 1px solid var(--unnamed-color-6f7e8f4d);
  border: 1px solid #6f7e8f4d;
  border-radius: 50px;
  opacity: 1;
  width: 6.6rem;
}

.bannerBg {
  background: var(--unnamed-color-ffe267) 0% 0% no-repeat padding-box;
  background: rgba(255, 226, 103, 0.2) 0% 0% no-repeat padding-box;

}

.bannerBgHeight {
  height: 10rem;
  width: 33rem;
}

.buttonHeight {
  height: 2.25rem; 
}

@media (min-width: 640px) {
  .bannerBgHeight {
    height: 3.75rem;
    width: 73.75rem;
  }

  .buttonHeight {
    height: 1.85rem; 
  }
  
}