.buttonStyle {
  background: var(--unnamed-color-3f536c) 0% 0% no-repeat padding-box;
  background: #3f536c 0% 0% no-repeat padding-box;
  border-radius: 590px;
  opacity: 1;
}

.headerStyle {
    width: 7.5rem;
    padding-bottom: 1.125rem;
}
