.sectionStyle {
  top: 7.18rem;
 
}

.sectionHeight {
  height: 28rem;
}

.inpHeight {
  height: 3.625rem;
}

.inpWidthOtel {
  width: 24rem;
}

.inpWidthTarih {
  width: 24rem;
}

.inpWidthKisi {
  width: 24rem;
}

.popKisi {
  height: 18.25rem;
}

.popChildShadow {
  box-shadow: 0px 3px 10px #00000029;
}

.inpMargin {
  margin-right: 2.125rem;
}

.buttonArama {
  background: var(--unnamed-color-2a5ab3) 0% 0% no-repeat padding-box;
  background: #2a5ab3 0% 0% no-repeat padding-box;
  border-radius: 60px;
  opacity: 1;
}

.buttonWidth {
  width: 24rem;
}

.buttonKisi {
  background: #3659ad 0% 0% no-repeat padding-box;
  border-radius: 590px;
  width: 11.875rem;
  height: 2.5rem;
}

.borderColorful {
  background: transparent url("../../../public/Group\ 1547.svg") 0% 0% no-repeat
    padding-box;
  background-position: bottom;
  opacity: 1;
}

.popPosition {
  left: -17%;
  top: 170%;
}

.listBox {
  width: 5.625rem;
}

.itemHovered {
  cursor: pointer;
}

.itemHovered:hover {
  background-color: #f0f0f0;
}

@media (min-width: 640px) {
  .sectionHeight {
    height: 14.12rem;
  }
  
  .inpWidthTarih {
    width: 19.5rem;
  }
  
  .inpWidthKisi {
    width: 12.75rem;
  }

  .buttonWidth {
    width: 11.25rem;
  }
}