.sectionStyle {
  top: 7.18rem;
  height: 14.12rem;
}

.inpHeight {
  height: 3.625rem;
}

.inpWidthOtel {
  width: 24rem;
}

.inpWidthTarih {
  width: 19.5rem;
}

.inpWidthKisi {
  width: 12.75rem;
}

.inpMargin {
  margin-right: 2.125rem;
}

.buttonArama {
  background: var(--unnamed-color-2a5ab3) 0% 0% no-repeat padding-box;
  background: #2a5ab3 0% 0% no-repeat padding-box;
  border-radius: 60px;
  opacity: 1;
  width: 11.25rem;
}

.borderColorful {
  background: transparent url("../../public/Group\ 1547.svg") 0% 0% no-repeat padding-box;
  background-position: bottom;
  opacity: 1;
}
