.nextSeason {
  height: 35.625rem;
  background: var(--unnamed-color-f6f5f8) 0% 0% no-repeat padding-box;
  background: #f6f5f8 0% 0% no-repeat padding-box;
  padding-left: 5.625rem;
  padding-right: 5.625rem;
  overflow: hidden;
}
.card {
  width: 17.5rem;
  height: 20rem;
}
.whiteBg {
  background-color: #ffffff;
}
.cardLocation {
  color: rgba(63, 83, 108, 1);
  opacity: 0.5;
}


.type {
  width: 105px;
  height: 20px;
  background: var(--unnamed-color-f6f5f8) 0% 0% no-repeat padding-box;
  background: #f6f5f8 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 0.8;
  
}
