.tourSection {
  height: 34rem;
  overflow: hidden;
}

.swiper {
  width: 1180px;
  height: 70px;
}

.swiper img {
  opacity: 1;
}

.itemsMedia {
  width: 85rem;
}

@media (min-width: 640px) {
  .itemsMedia {
      width: 73.75rem;
  }
  .tourSection {
    height: 45.625rem;
    background: var(--unnamed-color-edf4fd) 0% 0% no-repeat padding-box;
    background: #edf4fd 0% 0% no-repeat padding-box;
    padding-left: 5.625rem;
    padding-right: 5.625rem;
    overflow: hidden;
  }
}
