@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #3F536C;
}
.widthSearch {
  width: 73.75rem;
}

.poppinsRegular {
    font-weight: 400;
}

.poppins10 {
  font-size: 0.625rem;
}

.poppin12 {
  font-size: 0.75rem;
}

.poppins14 {
  font-size: 0.875rem;
}

.cyanTone {
    color: #6F7E90;
}

.whiteTone {
    color: #FFFFFF;
}

.border {
    border: 1px solid #cfd4da;
    opacity: 1;
  }
  
  .borderRadiusSection {
    border-radius: 13px;
  }

  .borderRadius {
    border-radius: 6px;
  }


