@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #3f536c;
}
.widthSearch {
  width: 73.75rem;
}

.width1360 {
  width: 85rem;
}

.poppinsRegular {
  font-weight: 400;
}

.poppinsSemiBold {
  font-weight: 600;
}

.poppins10 {
  font-size: 0.625rem;
}

.poppins12 {
  font-size: 0.75rem;
}

.poppins14 {
  font-size: 0.875rem;
}
.poppins20 {
  font-size: 1.25rem;
}
.poppins24 {
  font-size: 1.5rem;
}

.cyanTone {
  color: #6f7e90;
}

.blueTone {
  color: #2a5ab3;
}

.blue115 {
  color: #115BB9;
}

.whiteTone {
  color: #ffffff;
}

.border {
  border: 1px solid #cfd4da;
  opacity: 1;
}

.borderRadiusSection {
  border-radius: 13px;
}

.borderRadius {
  border-radius: 6px;
}

.borderRadius26 {
  border-radius: 26px;
}

.borderRadius10 {
  border-radius: 10px;
}

.borderMenu {
  display: inline-block;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #4C84CA;
  border-radius: 1px;
  opacity: 1;
}


.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiperItem {
  width: 14.375rem;
  height: 4.375rem;

} 
