.swiper {
    width: 19.75rem;
    height: 12.25rem;
  }
  
  .swiper span {
    background-color: white;
  }

  .swiper img {
    opacity: 1;
  }

  .discountItem {
    width: 23.75rem;
    height: 6.25rem;
}

.discLast {
    width: 136px;
}

.buttonStyle {
    background: var(--unnamed-color-3f536c) 0% 0% no-repeat padding-box;
    background: #3f536c 0% 0% no-repeat padding-box;
    border-radius: 590px;
    opacity: 1;
    width: 112px;
    height: 30px;
  }
  
  .headerStyle {
      width: 7.5rem;
      padding-bottom: 1.125rem;
  }
  
  .promo {
    height: 21.25rem;
    width: 23.75rem;
  }
  
  @media (min-width: 640px) {
    .swiper {
      width: 48.75rem;
      height: 21.25rem;
    }
  }